body{padding:0;margin:0;font:normal 12px/180% 'Microsoft YaHei'; color:#333;background:#fff;}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{margin:0;padding:0;}
div{margin:0 auto;text-align:left;font:normal 12px/180% 'Microsoft YaHei';}
a:link,a:visited{color:#333;text-decoration:none}
a:hover{color:#e60012;text-decoration:none}
img{ border:none}
ol,ul,li{list-style:none;}
i{font-style:normal;}
input,img{vertical-align: middle;}
input[type="button"],input[type="submit"]{vertical-align: middle;cursor: pointer;}
// html {font-size: 62.5%;10 ÷ 16 × 100% = 62.5%}